.roomCard{
    background:#1D1D1D;
    border-radius: 10px;
    padding:30px;
    cursor:pointer;
    margin-bottom: 0;
}
.roomTopic{
    font-size:18px;
    font-weight: bold;
    padding-bottom: 20px;
    
    line-height: 24.55px;
}
.speakersWrapper{
    display:flex;
    align-items: center;
    position: relative;
    
}
.avatar{
    width:45px;
    height:45px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;

}
.avatar:last-child{
    top:20px;
    left:20px;
}
.nameWrapper{
    
    margin-left: 40%;
    
    padding-top: 10px;
}
.name{
    font-size: 16px;
    padding:2px;
    text-align: left;
}
.name span{
    margin-right:5px;
    line-height: 22px;
}
.peopleCount{
    display:flex;
    justify-content: flex-end;
    font-weight: bold;
    padding-top:30px;
    padding-right:5px;
}

.singleSpeaker .avatar{
    position:initial;
}
.singleSpeaker .nameWrapper{
    margin-left: 10%;
    padding-top:0;

}