.CardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.BodyTextWrapper{
    padding: 7% 20%;
    color:#C4C5C5;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
}
.ButtonWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width:22%
}
.SignInWrapper{
    padding: 3% 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%
}
.HaveInvite{
    font-size: 16px;
    margin-right: 1%;
    color:#0077ff;
}