.modalMask{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background: rgba(0,0,0,0.6);
    display:flex;
    justify-content: center;
    align-items: center;
}

.modalBody{
    height: 460px;
    width:440px;
    background: #fff;
    /* border-radius: 20px; */
    box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    color:#000;
}
.modalHeader{
    padding:35px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.heading{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
}
.modalHeader input{
    background: #fff;
    outline: none;
    border: 2px solid #b9b9b9;
    border-radius: 5px;
    width:93%;
    height:40px;
    padding-left: 15px;
    padding-right: 15px;
    color:#000;
    font-size: 18px;
    font-family: 'Nunito';
}
.typeHeading{
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.modalRoomType{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#000;
}
.modalRoomType .active{
    background: #ec475a;
    color:#fff;
    box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.2);
    
}
.modalRoomType button{
    height:120px;
    width:120px;
    background: transparent;
    border:none;
    /* border-radius: 5px; */
    transition:all .2s ease-in-out;
    cursor: pointer;
}
/* .modalRoomType button:hover{
    background: #262626;
    
} */
.modalRoomType button p{
    font-size:16px;
    padding:10px;
    font-family: 'Nunito';
}

hr{
    border-top:solid 1px #a2a2a2;
    margin:0;
}
.footerText{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}
.footerButtonWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    /* border-radius: 50px; */
    background: #20BD5F;
    box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.2);
    padding:9px 30px;
    transition:all .2s ease-in-out;

}
.footerButton span{
color:#fff;
font-size: 18px;
font-weight: bold;
font-family: 'Nunito';
margin-left: 10px;
}
.footerButton:hover{
    background: #269e56;
    cursor: pointer;
}

.crossButton{
    background: transparent;
    border:none;
    margin-left: 92%;
    margin-top: 2%;
    cursor:pointer;
}
