.Card{
    width:650px;
    height:500px;
    background: #1D1D1D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.HeadingWrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.HeadingLogo{
    width:26px;
    margin-right: 15px;
}
.HeadingText{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}