.ButtonWrapper{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width:22%;
    
    min-width: 100px;

}
.InputWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:9% 10%;

}
.Input{
    background: #fff;
    border: 2px solid #b9b9b9;
    border-radius: 5px;
    padding: 3% 15%;
    color: #3a3a3a;
    font-family: 'Nunito';
    font-size: 22px;
    text-align: center;
    width:70%

}

.TextWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #616161;
    font-size: 14px;
    padding:5% 25%;
    text-align: center;
    line-height: 1.5;
}

.googleLogin{
    margin-top:40px;
}