.NavbarWrapper{
    margin-top: 40px;
    margin-left: 6%;
    margin-right: 6%;
}
.Navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.navLeft{
    display:flex;
    justify-content: center;
    align-items: center;
}
.logoImg{
    width:32.8px;

}
.logoText{
    font-size: 22px;
    font-weight: bold;
    margin-left: 17px;
}
.ButtonWrapper{
    width:8%;
    min-width: 110px;
    margin-right: 2%;
}
.navRight{
    display:flex;
    justify-content: center;
    align-items: center;
}

.name{
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
}

.avatar{
    width:40px;
    height:40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2px;
    border:solid 5px #eb6d7c;
    background:#fff;
    display:flex;
    justify-content: center;
    align-items: center;

}
.logoutButton{
    background: transparent;
    border:none;
    cursor: pointer;
}
.logoutButton img{
    width:30px;
    height:30px;
}
@media (max-width: 900px) {
    .Navbar { 
        display:block;
     }
     .navRight{
        margin-top:4%;
     }
  }